body{
    margin: 0;
    background: 
    linear-gradient(180deg, rgba(255, 203, 125, 0.8) 0%, rgba(148, 115, 67, 0.8) 30%, rgba(0,0,0,0.8) 77%),
        url(uzlet.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 100px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 50px 20px;
    z-index: 1000;
    height: 15px;
    display: flex;
}

header img{
    height: 65px;
    width: auto;
}


nav {
    display: flex; 
    justify-content: flex-end; 
    width: 90%;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav ul li a:hover{
    color: rgba(255, 203, 125);
}

.aboutus{
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    text-shadow: 3px 3px 5px black, -2px -2px 5px gray;;
}

.aboutus p{
    font-size: 3rem;
}

.aboutus h3{
    text-align: center;
    padding-bottom: 1px;
    font-size: 60px;
}

.walking{
    height: 150px;
    width: auto;
    animation-name: walk;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes walk {
    0% {
        transform: translateX(0) scaleX(1); 
    }
    50% {
        transform: translateX(2200px) scaleX(1);
    }
    51% {
        transform: translateX(2200px) scaleX(-1);
    }
    100% {
        transform: translateX(0) scaleX(1); 
    }
}
